<a href="https://colab.research.google.com/github/Thrishasivasakthi/python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import csv
!pip install word2number
from word2number import w2n

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.8/dist-packages (1.1)

In [85]:
url="https://github.com/codebasics/py/raw/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv"
df = pd.read_csv(url)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [86]:
df.rename(columns={"test_score(out of 10)":"score"},inplace=True)
df.columns

Index(['experience', 'score', 'interview_score(out of 10)', 'salary($)'], dtype='object')

In [87]:
df.rename(columns={"interview_score(out of 10)":"interview"},inplace=True)
df.columns

Index(['experience', 'score', 'interview', 'salary($)'], dtype='object')

In [88]:
df.score=df.score.fillna(df.score.median())

In [89]:
df.experience.fillna("zero")

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [90]:
d = pd.DataFrame({"experience":['zero', 'zero', 'five','two','seven','three','ten','eleven']}) 
d.experience = d.experience.apply(w2n.word_to_num)

In [91]:
d

   experience
0           0
1           0
2           5
3           2
4           7
5           3
6          10
7          11

In [92]:
df.experience=d
df
df.rename(columns={"salary($)":"salary"},inplace=True)
df.columns

Index(['experience', 'score', 'interview', 'salary'], dtype='object')

In [93]:
reg=linear_model.LinearRegression()
reg.fit(df[['experience','score','interview']],df.salary)

LinearRegression()

In [94]:
reg.predict([[2,9,6]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])